{% extends 'base.html' %}

{% block content %}

{% if error %}
{{ error }}
{% endif %}

<h1>Sign up!</h1>
<form method="POST" action="{% url 'signup' %}">
    {% csrf_token %}
    <br />
    Username:
    <br />
    <input type="text" name="username" />
    <br />
    Password:
    <br />
    <input type="password" name="password1" />
    <br />
    Confirm password:
    <br />
    <input type="password" name="password2" />
    <br />
    <br />
    <input class="btn btn-primary" type="submit" value="Sign up!" />
</form>

{% endblock %}